<html>
  <head>
    <title>Photobox</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
  </head>
  <body>
      <img id="photo" src="" onerror="this.style.display='none'">
      <object>
      <p class="fallback-text">Start taking photos!</p>
      <div id="photo-count"></div>
      {% if show_button %}
      <a id="capture-button"><span>PRESS ME</span></a>
      {% endif %}

      <script src="static/js/jquery-2.2.0.min.js" type="text/javascript"></script>
      <script src="static/js/socket.io-1.4.5.js" type="text/javascript"></script>
      <script src="static/js/main.js" type="text/javascript"></script>
  </body>
</html>
